<% provide(:title, 'Home') %>

  <!-----------------------------------------! inizio parte centrale -->
    <section>
    
    <!------------------------------! inizio seconda parte -->
    	<div id="grafica"><div class="s_1260">
        	<h2>Trovare, proporre e realizzare:<br />
            il social network per i creativi<br />
            di tutto il mondo!</h2>
            <div class="clear"></div>
    	    <nav>
        		<ul id="pulsantoni">
            
            		<li><a href="#" class="p1">Farsi vedere</a></li>
            		<li><a href="#" class="p2">Ricercare</a></li>
            		<li><a href="#" class="p3">Collaborare</a></li>
                
           	    </ul>
      		</nav>
            <div class="clear"></div>
            <h3>Conosci Rainstorming design<br />
            e realizza la tua pioggia di idee!</h3>
        </div></div>
<!------------------------------! fine seconda parte -->

    
    	<div id="barra_menu2">
<!------------------------------! inizio menu2 -->
        	<h1 id="titoli_sezione">La pioggia del mese!</h1>
        	<nav>
            
            	<ul id="menu2">
                
                	<li><%= link_to "Designers", users_path, title: "I creative di Rainstorming Design" %></li>
                	<li><%= link_to "Progetti", progetti_path, title: "Progetti su Rainstorming Design" %></li>
                	<li><%= link_to "Annunci", annunci_path, title: "Annunci Rainstorming Design" %></li>
                
                </ul>
            
            </nav>
            <form id="search" method="get" action="#" ><input name="search" type="text" value="search"  /></form>
<!------------------------------! fine menu2 -->
        </div>
        
<!------------------------------! inizio parte elastica -->
<div id="elastico">
        
            <div class="col_lat">
            	<img scr="#" class="img_lat_1" />
               	<img scr="#" class="img_lat_2" />
            	<img scr="#" class="img_lat_1" />
            	<img scr="#" class="img_lat_2" />
            	<img scr="#" class="img_lat_1" />
            </div>
<!------------------------------! fine colonna laterale sx e inizio centrale -->
            <div class="col_cen">
            
            	<div class="cont_col_cent">
                	<div class="col_ccc_1">
                    	<img scr="#" class="img_cen_1"  style="margin-bottom:20px;"/>
                    	<img scr="#" class="img_cen_1" />
                    </div>
                    <div class="spazio_col_cent"></div>
                	<div class="col_ccc_2">
                    	<img scr="#" class="img_cen_2" />
                        <div class="annunci_cent"></div>
                    </div>
                </div>
                
                <div class="cont_col_cent">
                	<div class="col_ccc_2">
                    	<img scr="#" class="img_cen_2" />
                        <div class="annunci_cent"></div>
                    </div>
                    <div class="spazio_col_cent"></div>
                	<div class="col_ccc_1">
                    	<img scr="#" class="img_cen_1"  style="margin-bottom:20px;"/>
                    	<img scr="#" class="img_cen_1" />
                    </div>
                </div>

            	<div class="cont_col_cent">
                	<div class="col_ccc_1">
                    	<img scr="#" class="img_cen_1"  style="margin-bottom:20px;"/>
                    	<img scr="#" class="img_cen_1" />
                    </div>
                    <div class="spazio_col_cent"></div>
                	<div class="col_ccc_2">
                    	<img scr="#" class="img_cen_2" />
                        <div class="annunci_cent"></div>
                    </div>
                </div>
                
                <div class="cont_col_cent">
                	<div class="col_ccc_2">
                    	<img scr="#" class="img_cen_2" />
                        <div class="annunci_cent"></div>
                    </div>
                    <div class="spazio_col_cent"></div>
                	<div class="col_ccc_1">
                    	<img scr="#" class="img_cen_1"  style="margin-bottom:20px;"/>
                    	<img scr="#" class="img_cen_1" />
                    </div>
                </div>
            
            </div>
            <div class="col_cen" style="margin-left:20px;">
            
            	<div id="primo_annuncio"></div>
            
            	<div class="cont_col_cent">
                	<div class="col_ccc_1">
                    	<img scr="#" class="img_cen_1"  style="margin-bottom:20px;"/>
                    	<img scr="#" class="img_cen_1" />
                  </div>
                    <div class="spazio_col_cent"></div>
                	<div class="col_ccc_2">
                    	<img scr="#" class="img_cen_2" />
                        <div class="annunci_cent"></div>
                    </div>
              </div>
                
                <div class="cont_col_cent">
                	<div class="col_ccc_2">
                    	<img scr="#" class="img_cen_2" />
                        <div class="annunci_cent"></div>
                    </div>
                    <div class="spazio_col_cent"></div>
                	<div class="col_ccc_1">
                    	<img scr="#" class="img_cen_1"  style="margin-bottom:20px;"/>
                    	<img scr="#" class="img_cen_1" />
                    </div>
                </div>

            	<div class="cont_col_cent">
                	<div class="col_ccc_1">
                    	<img scr="#" class="img_cen_1"  style="margin-bottom:20px;"/>
                    	<img scr="#" class="img_cen_1" />
                    </div>
                    <div class="spazio_col_cent"></div>
                	<div class="col_ccc_2">
                    	<img scr="#" class="img_cen_2" />
                        <div class="annunci_cent"></div>
                    </div>
                </div>
                <div id="ultimo_annuncio"></div>
    </div>

<!------------------------------! fine colonna centrale e inizio dx -->
            <div class="col_lat">
            	<img scr="#" class="img_lat_1" />
               	<img scr="#" class="img_lat_2" />
            	<img scr="#" class="img_lat_1" />
            	<img scr="#" class="img_lat_2" />
            	<img scr="#" class="img_lat_1" />
            </div>

        </div>
<!------------------------------! fine parte elastica -->
    </section>
<!--------------------------------------------! fine parte centrale --><div class="clear"></div>