<!-------------------------------------------------! inizio footer -->
    <footer>
<!------------------------------! inizio riga1 del footer -->
    	<div id="f_riga1"><div class="s_1260">
        
        	<div id="logo_f"></div>
            <p>Una rete per realizzare la tua pioggia d'idee!</p>
        
        </div></div>
<!------------------------------! fine riga1 del footer -->
<!------------------------------! inizio riga2 del footer -->
        <div id="f_riga2"><div class="s_1260">
        
        	<nav>
            	<ul id="menu1_f">
                
                	<li><a href="#">Su di noi</a></li>
                	<li><a href="#">Missione</a></li>
                	<li><a href="#">Contatti</a></li>
                    <li><a href="#">Termini</a></li>
                	<li><a href="#">Privacy</a></li>

                </ul>
            </nav>
            
            <nav>
               	<ul id="menu2_f">

                	<li style="display:block; float:left; margin-top:19px">Seguici anche su: &nbsp;</li>
                	<li><%= link_to image_tag("rainstorming_design_icona_twitter.png", alt: "Icona rainstorming design twitter", height: "35", width:"35"), '#', title: "Segui Rainstorming Design su Twitter" %></li>
                	<li><%= link_to image_tag("rainstorming_design_icona_facebook.png", alt: "Icona rainstorming design facebook", height: "35", width:"35"), '#', title: "Segui Rainstorming Design su Facebook" %></li>
					<li><%= link_to image_tag("rainstorming_design_icona_vimeo.png", alt: "Icona rainstorming design vimeo", height: "35", width:"35"), '#', title: "Segui Rainstorming Design su Vimeo" %></li>                	
					<li><%= link_to image_tag("rainstorming_design_icona_linkedin.png", alt: "Icona rainstorming design linkedin", height: "35", width:"35"), '#', title: "Segui Rainstorming Design su Linkedin" %></li>               	
                    
                </ul>
            </nav>
        
        </div></div>
<!------------------------------! fine riga2 del footer -->
<!------------------------------! inizio riga3 del footer -->
    	<div id="f_riga3"><div class="s_1260">
        
            <nav>
               	<ul class="mappa_footer">
					<li>Progettisti</li>
                	<li><a href="#">I più votati del mese</a></li>
                	<li><a href="#">Webdesign</a></li>
                	<li><a href="#">Grafica 2D</a></li>
                	<li><a href="#">Grafica 3D</a></li>
                	<li><a href="#">Industrial design</a></li>
                	<li><a href="#">Transportation design</a></li>
                	<li><a href="#">Ecodesign</a></li>
                	<li><a href="#">Fashion design</a></li>
                	<li><a href="#">Interior/Exterior</a></li>
                </ul>
            </nav>
            
            <nav>
               	<ul class="mappa_footer">
					<li>Progetti</li>
                	<li><a href="#">La pioggia del mese</a></li>
                	<li><a href="#">Webdesign</a></li>
                	<li><a href="#">Grafica 2D</a></li>
                	<li><a href="#">Grafica 3D</a></li>
                	<li><a href="#">Industrial design</a></li>
                	<li><a href="#">Transportation design</a></li>
                	<li><a href="#">Ecodesign</a></li>
                	<li><a href="#">Fashion design</a></li>
                	<li><a href="#">Interior/Exterior</a></li>
                </ul>
            </nav>

            <nav>
               	<ul class="mappa_footer">
					<li>Annunci</li>
                	<li><a href="#">I più recenti</a></li>
                	<li><a href="#">Webdesign</a></li>
                	<li><a href="#">Grafica 2D</a></li>
                	<li><a href="#">Grafica 3D</a></li>
                	<li><a href="#">Industrial design</a></li>
                	<li><a href="#">Transportation design</a></li>
                	<li><a href="#">Ecodesign</a></li>
                	<li><a href="#">Fashion design</a></li>
                	<li><a href="#">Interior/Exterior</a></li>
                </ul>
            </nav>
        
        	<div id="marchi"></div>
        
        </div></div>
<!------------------------------! fine riga3 del footer -->
<!------------------------------! inizio riga4 del footer -->
    	<div id="f_riga4">
        
        	<a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/it/"><img alt="Licenza Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nd/3.0/it/88x31.png" height="18" width="50" /></a> &nbsp; Rainstorming è distribuito con <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/it/" style="vertical-align:top;">licenza Creative Commons Attribuzione - Non opere derivate 3.0 Italia</a>. Tutti i materiali degli utenti sono protetti da copyright. 
        
        </div>
<!------------------------------! fine riga4 del footer -->
    </footer>
<!----------------------------------------------------! fine footer -->
 
 
 
 
  
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // aggiusta qualsiasi tag <img> o qualsiasi proprietà background-image di .png_bg. Anche per favore leggi goo.gl/mZiyb </script>
  <![endif]-->
